<li class="dropdown-submenu">
    <a href="#">2017 Fall Web Apps Section 01<span class="caret"></span></a>
    <ul class="dropdown-menu">
     
      
      <li class="dropdown-submenu">
        <a href="/about">Team 7 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="about/lohitha.ejs">lohitha bhethalam</a></li>
          <li><a href="/about/lohitha.ejs">Lokeswari Pittu</a></li>
          <li><a href="/about/lohitha">Sreelekha Vijaya</a></li>
        </ul>
      </li>
     
     
    </ul>
  </li>