<!-- 
  @author Razeena Rao 
-->
<li class="dropdown">
    
   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
              <!--  <span class="caret"></span>-->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a href="https://a03lohitha.herokuapp.com/">lohitha bhethalam</a></li>
                      <li><a href="https://bloggspot.herokuapp.com/">Manasa Ginjupalli</a></li>
                      <li><a href="https://karthikrm.herokuapp.com">Karthik Reddy Muthyala</a></li>
                      <li><a href="https://razeenaa03.herokuapp.com/">Razeena Rao Nemarugommula</a></li>
                    </ul>
                
                  </li>
                </li>