<div class="dropdown">
  <button class="dropbtn">Dropdown 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
    <a href="/order/create">Link 1</a>
    <a href="about">Link 2</a>
    <a href="/about">Link 3</a>
  </div>
</div> 